<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/style2.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

</head>

<body>
<header class="pb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <div class="container-fluid">

            <a id="text-colors" class="navbar-brand" href="{% url 'store:all_products' %}">BookStore</a>

            {% if request.user.is_superuser %}
                <a href="{% url 'cart:orders' %}">
                    <button id="sale" type="button" class="btn btn-info">Sales history</button>
                </a>
                <a href="{% url 'rent' %}">
                    <button id="sale" type="button" class="btn btn-info">Rent history</button>
                </a>
            {% endif %}

            <a id="sale" type="button" role="button" href="{% url 'cart:cart_summary' %}"
               class="btn btn-outline-secondary">

                {% with total_qty=cart|length %}
                    <div id="cart-qty" class="d-inline-flex">
                        {% if total_qty > 0 %}
                            {{ total_qty }}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                {% endwith %}


                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-cart-dash"
                     viewBox="0 0 16 16">
                    <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a id="text-colors" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Library
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a id="menu_color" class="dropdown-item" href="{% url "store:all_products" %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li>
                                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                                </li>
                            {% endfor %}

                        </ul>

                </ul>


                <form class="d-flex" method=POST action="{% url 'search_books' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search books" aria-label="Search"
                           name="searched">
                    <button id="sale" class="btn btn-outline-success" type="submit">Search</button>

                    <div class="input-group">
                        <button id="user" type="button" class="btn btn-secondary">User Profile</button>
                        <button id="user_dropdown" type="button"
                                class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a id="sale" class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                            <li><a id="sale" class="dropdown-item" href="{% url 'change_password' %}">Change
                                password</a></li>
                            <li><a id="sale" class="dropdown-item" href="{% url 'reset_password' %}">Reset password</a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'signup' %}">Make an account</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'social:begin' 'facebook' %}">Login with
                                Facebook</a>
                            </li>
                        </ul>
                    </div>


                </form>

            </div>
        </div>
    </nav>
</header>


<div id="content">{% block content %} {% endblock %}</div>


</body>
</html>